<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/" p:suffix=".jsp"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/dealers_network"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="annotatedClasses">
            <list>
                <value>com.cdk.dealersnetwork.domain.Dealer</value>
                <value>com.cdk.dealersnetwork.domain.Broadcast</value>
                <value>com.cdk.dealersnetwork.domain.Bid</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="dealerDAO" class="com.cdk.dealersnetwork.dao.DealerDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="broadcastDAO" class="com.cdk.dealersnetwork.dao.BroadcastDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="bidDAO" class="com.cdk.dealersnetwork.dao.BidDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="makeDAO" class="com.cdk.dealersnetwork.dao.MakeDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="modelDAO" class="com.cdk.dealersnetwork.dao.ModelDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <mvc:annotation-driven />
    <context:component-scan base-package="com.cdk.dealersnetwork.controller">
    </context:component-scan>
</beans>